@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600&family=Outfit:wght@500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Nunito', sans-serif;
}

h1, h2, h3 {
    font-family: 'Outfit', sans-serif;
}

html {
    scroll-behavior: smooth;
}

@layer components {
    .feature-style {
        @apply card w-64 bg-base-100 shadow-xl
    }

    .custom-badge {
        @apply px-2 py-1 bg-blue-200 text-blue-600 font-semibold rounded-full hover:shadow-md
    }
}
